.footer {
  padding-bottom: 42px;

  &__container {
    position: relative;
    z-index: 2;
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--1 {
      padding: 0 100px;
      margin-bottom: 157px;
    }
  }

  &__info {
    width: 280px;
  }

  &__heading {
    @include text-style(5.6rem, 400, $text);
    line-height: 39px;
    margin-bottom: 80px;

    span {
      @include text-style(6.4rem, 600, $yellow);
      line-height: 77.5px;
      letter-spacing: -0.05em;
      font-family: $cormorant;
    }
  }

  &__title {
    @include text-style(2rem, 500, $main-color);
    line-height: 24px;
    font-family: $inter;
    margin-bottom: 10px;

    span {
      text-decoration: line-through;
    }
  }

  &__text-wrap h6 {
    @include text-style(5.6rem, 600, $main-color);
    font-family: $cormorant;
    line-height: 60px;
    font-variant-numeric: lining-nums proportional-nums;
  }

  &__card {
    display: flex;
    align-items: center;
    width: 524px;
    padding: 60px 40px 60px 16px;
    border-radius: 8px;
    background: #FFD455;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 524px;
      height: 100%;
      z-index: -1;
      border: 1px solid #FFD455;
      border-radius: 8px;
    }

    img:first-child {
      margin-right: 39px;
    }
  }

  &__timer {
    position: absolute;
    padding: 12px 24px;
    border-radius: 24px;
    background-color: $main-color;
    text-align: center;
    top: 188px;
    left: 50%;
    transform: translateX(-50%);

    p {
      @include text-style(1.4rem, 500, #FFF4D3);
      font-family: $inter;
      line-height: normal;
      margin-bottom: 4px;
    }

    span {
      @include text-style(2.4rem, 400, #FFF4D3);
      line-height: normal;
    }
  }

  &__sticker {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__social {
    display: flex;
    align-items: center;
    @include text-style(1.6rem, 400, $main-color);

    svg {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__links {
    text-align: right;
  }

  &__link {
    display: block;
    @include text-style(1.4rem, 600, $main-color);
    line-height: 17px;
    text-decoration: underline;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__btn {
    &--mobile {
      display: none;
    }
  }

  @include respond(tab-land) {
    padding-bottom: 23px;

    &__container {
      @extend %container;
      display: flex;
      flex-direction: column;
      align-items: unset;
      justify-content: unset;

      &--1 {
        padding: 0 8px;
        margin-bottom: 72px;
      }
    }

    &__info {
      width: 237px;
    }

    &__heading {
      @include text-style(4.8rem, 400, $text);
      line-height: 51px;
      margin-bottom: 48px;

      span {
        @include text-style(5.4rem, 600, $yellow);
        line-height: 51px;
      }
    }

    &__title {
      @include text-style(1.4rem, 400, $main-color);
      line-height: 17px;
      margin-bottom: 4px;
    }

    &__text-wrap h6 {
      @include text-style(3.2rem, 400, $main-color);
      line-height: 45px;
    }

    &__card {
      width: 100%;
      padding: 20px 12px;
      margin-bottom: 94px;

      img:first-child {
        margin-right: 30px;
        width: 72px;
      }

      &:after {
        width: 100%;
      }
    }

    &__timer {
      top: 98px;

      p {
        @include text-style(1.2rem, 500, #FFF4D3);
        font-family: $inter;
        line-height: normal;
        margin-bottom: 4px;
        white-space: nowrap;
      }

      span {
        @include text-style(1.6rem, 400, #FFF4D3);
        line-height: normal;
      }
    }

    &__btn {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
        margin: 0 auto;
      }
    }

    &__sticker {
      position: absolute;
      top: 9px;
      right: 5px;
      width: 54px;
      height: 54px;
    }

    &__socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__social {
      display: flex;
      align-items: center;
      @include text-style(1.6rem, 400, $main-color);

      svg {
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__links {
      text-align: center;
    }

    &__link {
      display: block;
      @include text-style(1.4rem, 600, $main-color);
      line-height: 17px;
      text-decoration: underline;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}