.footer {
  position: relative;
  background-color: #732D72;

  &__left {
    position: absolute;
    left: 0;
    top: 60px;
  }

  &__right {
    position: absolute;
    right: 0;
    top: 300px;
  }

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &__top {
    padding: 190px 0 120px;
  }

  &__info {

  }

  &__heading {
    @include text-style(4.8rem, 500, #FFEE97);
    font-family: $kiev;
    line-height: 57px;
    margin-bottom: 60px;
  }

  &__title {
    @include text-style(4rem, 600, $white);
    line-height: 46px;
    font-style: italic;
    margin-bottom: 48px;
  }

  &__price-box {
    position: relative;
    text-align: center;
  }

  &__price-old {
    @include text-style(3.2rem, 400, #EE98DA);
    font-family: $hauora;
    line-height: 43px;
    text-decoration: line-through;
    margin-bottom: 4px;
  }

  &__price-new {
    @include text-style(6.4rem, 700, #FFEE97);
    font-family: $kiev;
    line-height: 78px;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
  }

  &__star {
    position: absolute;

    &--1 {
      top: 0;
      left: 27px;
    }

    &--2 {
      right: 0;
      top: -10px;
    }

    &--3 {
      left: -20px;
      bottom: -20px;
    }

    &--4 {
      bottom: -20px;
      left: 50%;
    }

    &--5 {
      right: 20px;
      bottom: -40px;
    }
  }

  &__border {
    width: 100%;
  }

  &__bottom {
    padding: 24px 0 32px;
  }

  &__social {
    display: flex;
    align-items: center;
    @include text-style(1.8rem, 500, #FFEE97);
    font-family: $kiev;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;

    svg {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    display: block;
    @include text-style(1.2rem, 400, #FFA8E9);
    font-family: $hauora;
    line-height: 14px;
    text-decoration: underline;
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__btn {
    background-color: #FFEE97;
    color: #732D72;
    &--tab {
      display: none;
    }
  }

  @include respond(tab-land) {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__top {
      padding: 75px 0 90px;
    }

    &__heading {
      margin-bottom: 20px;
      text-align: center;
    }

    &__btn {
      &--desktop {
        display: none;
      }

      &--tab {
        display: block;
        width: 343px;
        margin: 0 auto 90px;
      }
    }

    &__price-box {
      position: relative;
      text-align: center;
    }

    &__socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 40px;
    }

    &__link {
      text-align: center;
    }
  }

  @include respond(phone) {

    &__left {
      width: 150px;
      left: -50px;
      top: 190px;
    }

    &__right {
      width: 150px;
      top: 400px;
      right: -20px;
    }

    &__heading {
      font-size: 3.2rem;
      line-height: 36px;
      margin-bottom: 140px;
    }

    &__btn {
      &--tab {
        width: 343px;
      }
    }

    &__price-old {
      font-size: 2.4rem;
      line-height: 29px;
    }

    &__price-new {
      font-size: 4.8rem;
      line-height: 58px;
    }

    &__social {
      font-size: 1.6rem;
    }
  }
}