.header {
  padding: 40px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    @include text-style(2.4rem, 400, #B22C7D);
    cursor: pointer;

    transition: all .3s;

    &:hover {
      color: #B32C7D;
    }

    &:active {
      color: #BA95A3;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    background: #2DACB1;

    transition: all .3s;

    &:hover {
      background: #5F0165;
    }

    &:active {
      background: linear-gradient(92.38deg, #661082 -18.89%, #760089 42.05%, #5E2372 101.68%);
    }

    svg {
      margin-right: 7px;
    }

    span {
      @include text-style(1.6rem, 500, #FEE3E2);
      font-family: $kiev;
    }
  }

  &__burger {
    display: none;
  }

  @include respond(tab-land) {
    &__links {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}