.header {
  padding: 40px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    @include text-style(2rem, 500, $text);
    cursor: pointer;

    &:hover {
      color: $text;
    }

    &:active {
      color: $text;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
      fill: $text;
    }

    span {
      @include text-style(2rem, 500, $text);
      font-family: $hind;
      text-decoration: underline;
    }
  }


  &__burger {
    display: none;
  }

  @include respond(tab-land) {
    &__links {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__btn {
      span {
        font-size: 1.6rem;
      }
    }
  }
}