div.input-block {
  position: relative;
}
div.input-block input {
  @include text-style(2.4rem, 700, #CF6E95);
  font-family: $kiev;
  font-variation-settings: 'CONT' 469, 'MIDL' 0;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border-bottom: 2px solid  #732D72;
  outline:none;
}
div.input-block span.placeholder {
  @include text-style(1.8rem, 600, #732D72);
  position: absolute;
  margin: 17px 0;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: transparent;
  font-family: $hauora;
}
div.input-block input:focus{
  color: #732D72;
  border-color: #E7A4D4;
}
div.input-block input:focus + span.placeholder {
  color: #CF6E95;
  font-size: 1.4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}