.main {
  padding-top: 112px;

  &__section {

    &--welcome {
      margin-bottom: 160px;
    }

    &--info {
      margin-bottom: 276px;
    }

    &--prize {
      margin-bottom: 160px;
    }
  }

  @include respond(phone) {
    &__section {

      &--welcome {
        margin-bottom: 96px;
      }

      &--info {
        margin-bottom: 160px;
      }

      &--prize {
        margin-bottom: 104px;
      }
    }
  }
}