.main {


  &__section {

    &--welcome {
      margin-bottom: 220px;
    }

    &--cards {
      margin-bottom: 128px;
    }

    &--author {
      margin-bottom: 85px;
    }

    &--prize {
      margin-bottom: 160px;
    }

    &--program {
      margin-bottom: 300px;
    }
  }

  @include respond(tab-land) {


    &__section {

      &--welcome {
        margin-bottom: 185px;
      }

      &--cards {
        margin-bottom: 200px;
      }

      &--author {
        margin-bottom: 104px;
      }

      &--prize {
        margin-bottom: 104px;
      }

      &--program {
        margin-bottom: 100px;
      }
    }
  }
}