.main {
  padding-top: 116px;

  &__section {

    &--mb190 {
      margin-bottom: 190px;
    }

    &--mb130 {
      margin-bottom: 130px;
    }

    &--mb250 {
      margin-bottom: 250px;
    }
  }
}