.modal {
  position: fixed;
  top: 0;
  left: -120%;
  background-color: #FEE3E2;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  overflow: auto;
  padding-bottom: 40px;

  transition: all .5s;

  &--active {
    left: 0;
    transition: all .5s;
  }

  &__error-text {
    @include text-style(1.6rem, 400, #bd0404)
  }

  &__left {
    position: absolute;
    left: 0;
    bottom: 120px;
  }

  &__right {
    position: absolute;
    top: 200px;
    right: 0;
  }

  &__container {
    @extend %container;
    padding-top: 100px;
    position: relative;
    z-index: 5;

    &--sm {
      padding-top: 0;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    @include text-style(1.6rem, 500, #B22C7D);
    font-family: $montserrat;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }
  }

  &__wrapper {
    padding-top: 60px;
  }

  &__title {
    @include text-style(3.2rem, 700, #B22C7D);
    line-height: 38px;
    margin-bottom: 12px;
    text-align: center;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
    font-family: $kiev;

    &--mb40 {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    @include text-style(2.4rem, 400, #CF6E95);
    line-height: 27px;
    margin: 0 auto 95px;
    text-align: center;
    max-width: 345px;
  }

  &__form {
    width: 416px;
    margin: 0 auto;
  }

  &__input-block {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__btn {
    display: block;
    margin: 80px auto 0;
  }

  &__wheel {
    width: 343px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__arrow {
    margin-bottom: 10px;
  }

  &__prize-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 42px;

    img {
      width: 220px;
      margin-bottom: 58px;
    }

    p {
      @include text-style(2.4rem, 400, #CF6E95);
      line-height: 27px;
      margin-bottom: 16px;
    }

    h3 {
      @include text-style(3.2rem, 500, #B22C7D);
      font-family: $kiev;
      line-height: 39px;
      text-align: center;
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
    }
  }

  &__under-text {
    @include text-style(1.8rem, 600, #CF6E95);
    line-height: 22px;
    margin: 0 auto 56px;
    text-align: center;
    max-width: 350px;

    span {
      font-weight: 700;
    }
  }

  &__links {
    width: 343px;
    margin: 60px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include text-style(1.2rem, 500, #B22C7D);
      font-family: $kiev;
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
      line-height: 14.6px;
      margin-bottom: 15px;
    }

    a {
      display: flex;
      align-items: center;
      @include text-style(1.4rem, 700, $dusty-purple);
      svg {
        margin-right: 8px;
      }
    }
  }

  @include respond(phone) {

    &__left {
      display: none;
    }

    &__container {
      padding-top: 26px;
    }

    &__wrapper {
      padding-top: 42px;
    }

    &__title {
      @include text-style(3.2rem, 700, #B22C7D);
      line-height: 36px;

      &--mb40 {
        margin-bottom: 32px;
      }
    }

    &__subtitle {
      @include text-style(2.4rem, 400, #CF6E95);
      line-height: 27px;
      max-width: 100%;
    }

    &__form {
      width: 100%;
    }

    &__input-block {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__btn {
      display: block;
      margin: 80px auto 0;
    }

    &__wheel {
      width: 100%;
    }

    &__prize-box {
      width: 100%;
      padding: 32px 40px;

      img {
        width: 115px;
        margin-bottom: 36px;
      }

      p {
        margin-bottom: 12px;
      }
    }

    &__links {
      width: 343px;
      margin: 60px auto 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        @include text-style(1.2rem, 500, #CF6E95);
        line-height: 14.6px;
        margin-bottom: 8px;
      }

      a {
        display: flex;
        align-items: center;
        @include text-style(1.4rem, 700, $dusty-purple);
        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

.success-btn {
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }

  span {
    @include text-style(1.4rem, 700, #B22C7D);
    text-decoration: underline;
  }
}