.modal {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  overflow: auto;
  padding-bottom: 100px;

  transition: all .5s;

  background-color: #FBFAF2;

  &--active {
    left: 0;
    transition: all .5s;
  }

  &__error-text {
    @include text-style(1.6rem, 400, #bd0404)
  }

  &__container {
    @extend %container;
    padding-top: 100px;
    position: relative;
    z-index: 5;

    &--sm {
      padding-top: 0;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    @include text-style(1.6rem, 500, $text);
    cursor: pointer;

    svg {
      margin-right: 8px;
      fill: $text;
    }
  }

  &__wrapper {
    padding-top: 60px;
  }

  &__title {
    @include text-style(4rem, 400, $text);
    line-height: 57px;
    margin-bottom: 12px;
    text-align: center;

    &--normal {
      text-transform: unset;
    }

    &--mb40 {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    @include text-style(1.6rem, 500, #7AABE2);
    line-height: 19px;
    margin: 0 auto 48px;
    text-align: center;
    font-family: $inter;
    width: 260px;
  }

  &__form {
    width: 416px;
    margin: 0 auto;
  }

  &__input-block {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    color: $text;

    input {
      cursor: pointer;
      margin-right: 10px;
    }

    a {
      margin-left: 5px;
      text-decoration: underline;
      color: $text;
    }

    font-size: 16px;
    font-weight: 600;
  }

  &__btn {
    display: block;
    margin: 80px auto 0;

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      pointer-events: none;
      cursor: none;
    }
  }

  &__wheel {
    width: 343px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__arrow {
    margin-bottom: 10px;
  }

  &__prize-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 42px;

    img {
      flex-shrink: 0;
      margin-bottom: 16px;
    }

    p {
      @include text-style(2.4rem, 400, #7AABE2);
      line-height: 32px;
      font-family: $montserrat;
      margin-bottom: 16px;
    }

    h3 {
      @include text-style(4rem, 700, $text);
      line-height: 40px;
      text-align: center;
    }
  }

  &__under-text {
    @include text-style(1.6rem, 400, $text);
    line-height: 19px;
    margin: 0 auto 48px;
    text-align: center;
    max-width: 350px;

    .bold {
      font-weight: 600;
    }
  }

  &__links {
    width: 343px;
    margin: 60px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $montserrat;

    p {
      @include text-style(1.2rem, 500, $main-color);
      line-height: 14.6px;
      margin-bottom: 15px;
    }

    a {
      display: flex;
      align-items: center;
      @include text-style(1.2rem, 600, $main-color);
      text-decoration: underline;

      svg {
        margin-right: 8px;
      }
    }
  }

  @include respond(phone) {
    &__container {
      padding-top: 40px;
    }

    &__wrapper {
      padding-top: 0;
    }

    &__title {

      &--left {
        text-align: left;
      }

      &--wheel {
        font-size: 3.2rem;
      }

      &--mb40 {
        margin-bottom: 32px;
      }
    }

    &__subtitle {
      margin: 0 0 60px;

      &--left {
        text-align: left;
      }

      &--wheel {
        font-weight: 400;
        width: 100%;
      }

      width: 300px;

    }

    &__form {
      width: 100%;
    }

    &__input-block {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__btn {
      display: block;
      width: 100%;
      margin: 80px auto 0;
    }

    &__wheel {
      width: 100%;
    }

    &__prize-box {
      width: 100%;
      padding: 32px 40px;

      img {
        width: 115px;
        margin-bottom: 36px;
      }

      p {
        margin-bottom: 12px;
      }
    }
  }
}
