.prize-section {

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    padding-top: 80px;
    border-top: 1px solid $text;
    width: 631px;
    flex-shrink: 0;
  }

  &__title {
    @include text-style(3.9rem, 700, $text);
    line-height: 48px;
    font-family: $cormorant;
    margin-bottom: 32px;
    text-transform: uppercase;
    width: 530px;
  }

  &__subtitle {
    @include text-style(2rem, 500, $text);
    line-height: 24px;
    margin-bottom: 64px;

    &--tab {
      display: none;
    }
  }

  &__btn {

    &--tab {
      display: none;
    }
  }

  &__wheel {
    width: 524px;
  }

  @include respond(tab-land) {
    &__container {
      @extend %container;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__info {
      width: 100%;
      flex-shrink: 0;
      padding-top: 32px;
    }

    &__title {
      @include text-style(3rem, 700, $text);
      line-height: 36px;
      margin-bottom: 48px;
      width: 100%;
      text-align: center;
    }

    &__subtitle {
      @include text-style(1.6rem, 600, $text);
      line-height: 19px;
      margin-bottom: 48px;

      &--tab {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    &__wheel {
      width: 100%;
      margin-bottom: 32px;
    }

    &__btn {
      &--desktop {
        display: none;
      }

      &--tab {
        display: block;
      }
    }
  }
}
