.program-section {

  &__container {
    @extend %container;
  }

  &__heading {
    @include text-style(5.6rem, 400, $text);
    line-height: 39px;
    margin-bottom: 64px;

    span {
      @include text-style(6.4rem, 600, $main-color);
      line-height: 77.5px;
      letter-spacing: -0.05em;
      font-family: $cormorant;
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card {
    width: 416px;
    background-image: url("~assets/img/program-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 4px 4px 0px #EB683E;
    padding: 36px 20px 40px 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    @include text-style(2.4rem, 400, $text);
    margin-bottom: 40px;

    img {
      margin-right: 20px;
    }
  }

  &__items {
    padding-left: 80px;
  }

  &__item {
    position: relative;
    @include text-style(1.4rem, 600, #AE3500);
    line-height: 17px;
    font-family: $montserrat;

    a {
      color: #AE3500;
    }

    &:first-child {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #AE3500;
      top: 50%;
      left: -13px;
      transform: translateY(-50%);
    }
  }

  @include respond(tab-land) {
    &__heading {
      @include text-style(4.8rem, 400, $text);
      line-height: 48px;
      width: 255px;
      margin: 0 auto 64px;
      text-align: center;

      span {
        @include text-style(5.4rem, 600, $main-color);
        line-height: 51px;
      }
    }

    &__cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow-x: auto;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    &__card {
      flex-shrink: 0;
      width: 200px;
      padding: 32px 12px 24px;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include text-style(2.4rem, 400, $text);
      margin-bottom: 20px;

      img {
        margin-right: 0;
        margin-bottom: 14px;
      }
    }

    &__items {
      padding-left: 0;
    }

    &__item {
      padding-left: 13px;

      &:before {
        left: 0px;
      }
    }
  }
}