.program-section {
  padding-bottom: 136px;

  &__container {
    @extend %container;
    display: flex;
    align-items: flex-start;
  }

  &__heading {
    width: 623px;
    flex-shrink: 0;
    padding-top: 48px;
    @include text-style(5.6rem, 700, $text);
    text-transform: uppercase;
    border-top: 1px solid $text;
    font-family: $cormorant;
    margin-right: 124px;
  }

  &__items {
    padding-top: 48px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__item-name {
    display: flex;
    align-items: center;
    @include text-style(3.2rem, 500, $text);

    svg {
      margin-right: 12px;
    }
  }

  &__sub {
    margin-top: 16px;
    padding-left: 40px;
  }

  &__sub-name {
    display: flex;
    align-items: center;
    @include text-style(2rem, 500, $text);

    svg {
      margin-right: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include respond(tab-land) {
    padding-bottom: 104px;

    &__container {
      flex-direction: column;
      justify-content: flex-start;
    }

    &__heading {
      width: 100%;
      flex-shrink: 0;
      padding-top: 40px;
      @include text-style(4.8rem, 700, $text);
      margin-right: 0;
      margin-bottom: 40px;
    }

    &__items {
      padding-top: 0;
    }

    &__item-name {
      @include text-style(2.8rem, 500, $text);
    }

    &__sub-name {
      @include text-style(1.6rem, 500, $text);
    }
  }
}