.quote-section {
  position: relative;

  &__left {
    position: absolute;
    left: 0;
    bottom: -50px;
  }

  &__right {
    position: absolute;
    right: 0;
    top: -120px;
  }

  &__container {
    padding-top: 80px;
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__stars {
    margin-bottom: 56px;
  }

  &__title {
    @include text-style(4.8rem, 500, #B22C7D);
    font-family: $kiev;
    line-height: 58px;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
    text-align: center;

    margin-bottom: 112px;
  }

  &__border {
    stroke: #33C1C8;
    filter: drop-shadow(0px 0px 5px rgba(0, 244, 255, 0.76));
  }

  @include respond(tab-land) {
    &__title {
      @include text-style(4.8rem, 500, #B22C7D);
      font-family: $kiev;
      line-height: 58px;
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
      text-align: center;

      margin-bottom: 112px;
    }
  }

  @include respond(phone) {
    &__left {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 150px;
    }

    &__right {
      position: absolute;
      right: 0;
      top: -50px;
      width: 150px;
    }

    &__stars {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 3.2rem;
      line-height: 36px;

      margin-bottom: 160px;
    }
  }
}