.review-card {
  position: relative;

  &__title {
    @include text-style(3.2rem, 500, #732D72);
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
    font-family: $kiev;
    line-height: 36px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    @include text-style(1.6rem, 600, #BD8295);
    font-family: $hauora;
    line-height: 21px;
    text-align: center;
  }

  &:before {
    content: '';
    background-image: url("~assets/img/ticks.svg");
    width: 86px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 65px;
    left: -10px;
  }
}