.speakers-section {
  padding-bottom: 120px;

  &__container {
    @extend %container;
  }

  &__heading {
    @include text-style(6.4rem, 500, #B22C7D);
    line-height: 76px;
    font-family: $kiev;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
    margin-bottom: 96px;
  }

  &__splide {

  }

  &__arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: #B32C7D;
    }

    &:disabled {
      svg {
        fill: #BA95A3;
      }
    }

    &--prev {
      svg {
        transform: rotate(-180deg);
      }

      right: calc(100% + 30px);
    }

    &--next {
      left: calc(100% + 30px);
    }
  }

  &__pagination {
    padding-top: 64px;
  }

  &__pagination-page {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 1px solid #CF6E95;
    border-radius: 50%;

    margin-right: 8px;
  }

  &__pagination-page.is-active {
    background-color: #CF6E95;
    border: 1px solid #CF6E95;
  }

  &__btn {
    width: 343px;
    display: none;
  }

  @include respond(tab-land) {
    &__heading {
      text-align: center;
    }

    &__arrow {
      top: 300px;
      transform: none;
      z-index: 1000;

      &--prev {
        right: unset;
        left: 30px;
      }

      &--next {
        left: unset;
        right: 30px;
      }
    }

    &__btn {
      margin: 0 auto;
      display: block;
    }

    &__splide {
      margin-bottom: 56px;
    }
  }

  @include respond(phone) {
    &__heading {
      @include text-style(4.8rem, 400, #B22C7D);
      line-height: 54px;
      text-align: center;
      margin-bottom: 64px;
    }

    &__arrow {
      top: 110px;
      transform: none;
      z-index: 1000;

      &--prev {
        right: unset;
        left: 0;
      }

      &--next {
        left: unset;
        right: 0;
      }
    }
  }
}