.speaker-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    flex-shrink: 0;
    width: 524px;
  }

  &__box {
    padding: 48px 32px 40px;
    border-radius: 20px;
    background-color: #A931A7;
    width: 632px;
    flex-shrink: 0;
    margin-bottom: 64px;
  }

  &__name {
    @include text-style(3.2rem, 700, #FFEE97);
    font-family: $kiev;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
    line-height: 38px;
    margin-bottom: 12px;
  }

  &__inst {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    position: relative;
    margin-bottom: 24px;
    cursor: pointer;

    svg {
      margin-right: 4px;
    }

    span {
      @include text-style(1.6rem, 600, #FFA8E9);
      font-family: $hauora;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100px;
      background-color: #FFEE97;
    }
  }

  &__text {
    @include text-style(1.6rem, 500, #FFA8E9);
    font-family: $kiev;
    line-height: 19.5px;
    font-variation-settings: 'CONT' 469, 'MIDL' 0;
  }

  &__btn {
    background-color: #FFEE97;
    color: #732D72;
  }

  @include respond(tab-land) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__img {
      flex-shrink: 0;
      width: 100%;
      margin-bottom: -10px;
    }

    &__info {
      width: 600px;
    }

    &__box {
      padding: 48px 32px 40px;
      border-radius: 4px;
      width: 100%;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    &__name {
      font-size: 3.2rem;
      margin-bottom: 12px;
      text-align: center;
    }

    &__inst {
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__text {
      font-size: 1.6rem;
      line-height: 19.5px;
      text-align: center;
    }

    &__btn {
      display: none;
    }
  }

  @include respond(phone) {
    &__img {
      flex-shrink: 0;
      width: 100%;
      margin-bottom: -10px;
    }

    &__info {
      width: 100%;
    }

    &__box {
      padding: 48px 30px 40px;
      margin-top: -25px;
    }
  }
}