.welcome-section {

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    flex-shrink: 0;
  }

   &__heading {
    @include text-style(9.6rem, 500, #732D72);
    font-family: $kiev;
    line-height: 110px;
    margin-bottom: 8px;
    font-variation-settings: 'CONT' 469;
  }

  &__title {
    @include text-style(4rem, 500, #B22C7D);
    font-family: $hauora;
    line-height: 49px;
    margin-bottom: 64px;
  }

  &__price-box {
    display: flex;
    align-items: center;
    padding-top: 48px;
    margin-bottom: 64px;
    position: relative;
  }

  &__sale-row {
    position: absolute;
    left: 0;
    background-color: #732D72;
    width: 604px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    overflow: hidden;

    span {
      @include text-style(1.2rem, 500, #FFF7AB);
      font-family: $kiev;
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
      text-shadow: 0px 0px 5px rgba(134, 82, 217, 0.4);
      flex-shrink: 0;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__price {
  }

  &__first {
    @include text-style(2rem, 400, #954294);
    font-family: $hauora;
    line-height: 27px;
    margin-bottom: 4px;
    text-decoration: line-through;
  }

  &__second {
    @include text-style(4rem, 700, #732D72);
    line-height: 48px;
    font-family: $kiev;
    font-variation-settings: 'CONT' 469;
  }

  &__btn {
    margin-bottom: 60px;
  }

  &__date {
    span {
      @include text-style(2.4rem, 500, #CF6E95);
      font-family: $hauora;
      line-height: 32px;
      margin-bottom: 12px;
      display: block;
    }

    p {
      @include text-style(3.2rem, 500, #602D73);
      font-family: $kiev;
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 740px;
  }

  @include respond(tab-land) {
    &__container {
      @extend %container;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center;
    }

    &__info {
      flex-shrink: 0;
      width: 100%;
    }

    &__heading {
      font-size: 9.6rem;
      line-height: 110px;
      margin-bottom: 8px;
      text-align: center;
    }

    &__title {
      font-size: 3.2rem;
      line-height: 39px;
      margin-bottom: 72px;
      text-align: center;
    }

    &__sale-row {
      width: 100%;
    }

    &__price {
      margin: 0 auto;
    }

    &__btn {
      display: block;
      margin: 0 auto 56px;
    }

    &__date {
      text-align: center;
    }

    &__img {
      flex-shrink: 0;
      width: 100%;
    }
  }

  @include respond(phone) {
    &__heading {
      font-size: 5.6rem;
      line-height: 64px;
      margin-bottom: 8px;
      text-align: center;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 30px;
      text-align: center;
    }

    &__first {
      text-align: center;
    }

    &__second {
      text-align: center;
    }

    &__btn {
      display: block;
      margin: 0 auto 56px;
      width: 100%;
    }

    &__date {
      text-align: center;
    }

    &__img {
      flex-shrink: 0;
      width: 100%;
    }
  }
}