.welcome-section {

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    flex-shrink: 0;
  }

  &__heading {
    @include text-style(9.6rem, 500, #B22C7D);
    font-family: $kiev;
    line-height: 110px;
    margin-bottom: 8px;
    font-variation-settings: 'CONT' 469;
  }

  &__title {
    @include text-style(4rem, 400, #B22C7D);
    line-height: 45px;
    margin-bottom: 72px;
  }

  &__price-box {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    position: relative;
  }

  &__sale-price {
    position: absolute;
    left: -150px;
  }

  &__price {
    margin-left: 190px;
  }

  &__first {
    @include text-style(2.4rem, 400, #CF6E95);
    line-height: 27px;
    margin-bottom: 4px;
    text-decoration: line-through;
  }

  &__second {
    @include text-style(4rem, 700, #B22C7D);
    line-height: 48px;
    font-family: $kiev;
    font-variation-settings: 'CONT' 469;
  }

  &__btn {
    margin-bottom: 60px;
  }

  &__date {
    span {
      @include text-style(2.4rem, 400, #CF6E95);
      line-height: 27px;
      margin-bottom: 12px;
      display: block;
    }

    p {
      @include text-style(3.2rem, 500, #33C1C8);
      font-variation-settings: 'CONT' 469, 'MIDL' 0;
      text-shadow: 0 0 5px rgba(0, 244, 255, 0.76);
    }
  }

  &__img {
    flex-shrink: 0;
    width: 740px;
  }

  @include respond(tab-land) {
    &__container {
      @extend %container;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center;
    }

    &__info {
      flex-shrink: 0;
      width: 100%;
    }

    &__heading {
      font-size: 9.6rem;
      line-height: 110px;
      margin-bottom: 8px;
      text-align: center;
    }

    &__title {
      font-size: 3.2rem;
      line-height: 39px;
      margin-bottom: 72px;
      text-align: center;
    }

    &__sale-price {
      position: absolute;
      left: 0;
    }

    &__price {
      margin-left: 400px;
    }

    &__first {
      @include text-style(2.4rem, 400, #CF6E95);
      line-height: 27px;
      margin-bottom: 4px;
      text-decoration: line-through;
    }

    &__second {
      @include text-style(4rem, 700, #B22C7D);
      line-height: 48px;
      font-family: $kiev;
      font-variation-settings: 'CONT' 469;
    }

    &__btn {
      display: block;
      margin: 0 auto 56px;
    }

    &__date {
      text-align: center;
      span {
        @include text-style(2.4rem, 400, #CF6E95);
        line-height: 27px;
        margin-bottom: 12px;
        display: block;
      }

      p {
        @include text-style(3.2rem, 500, #33C1C8);
        font-variation-settings: 'CONT' 469, 'MIDL' 0;
        text-shadow: 0 0 5px rgba(0, 244, 255, 0.76);
      }
    }

    &__img {
      flex-shrink: 0;
      width: 100%;
    }
  }

  @include respond(phone) {
    &__heading {
      font-size: 5.6rem;
      line-height: 64px;
      margin-bottom: 8px;
      text-align: center;
    }

    &__title {
      @include text-style(2.2rem, 500, $dusty-purple);
      line-height: 26px;
      font-family: $montserrat;
      margin-bottom: 40px;
      text-align: center;
    }

    &__sale-price {
      position: absolute;
      left: -140px;
    }

    &__price {
      margin-left: 160px;
    }

    &__first {
      @include text-style(2rem, 400, #CF6E95);
      line-height: 27px;
      margin-bottom: 4px;
      text-decoration: line-through;
    }

    &__second {
      @include text-style(2.8rem, 700, #B22C7D);
      line-height: 48px;
      font-family: $kiev;
      font-variation-settings: 'CONT' 469;
    }

    &__btn {
      display: block;
      margin: 0 auto 56px;
      width: 100%;
    }

    &__date {
      text-align: center;

      span {
        @include text-style(2.4rem, 500, #CF6E95);
        line-height: 22px;
        margin-bottom: 12px;
      }

      p {
        @include text-style(4rem, 600, #33C1C8);
      }
    }

    &__img {
      flex-shrink: 0;
      width: 100%;
    }
  }
}