@font-face {
  font-family: 'Cormorant';
  src: url('~assets/fonts/CormorantGaramond-SemiBoldItalic.eot');
  src: url('~assets/fonts/CormorantGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
  url('~assets/fonts/CormorantGaramond-SemiBoldItalic.woff') format('woff'),
  url('~assets/fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat-Medium.eot');
  src: url('~assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('~assets/fonts/Montserrat-Medium.woff') format('woff'),
  url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat-SemiBold.eot');
  src: url('~assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('~assets/fonts/Montserrat-SemiBold.woff') format('woff'),
  url('~assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roca';
  src: local('Roca One Regular'), local('Roca-One-Regular'),
  url('~assets/fonts/RocaOne-Rg.woff2') format('woff2'),
  url('~assets/fonts/RocaOne-Rg.woff') format('woff'),
  url('~assets/fonts/RocaOne-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart Trial';
  src: url('~assets/fonts/BogartTrial-Medium.eot');
  src: url('~assets/fonts/BogartTrial-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/BogartTrial-Medium.woff2') format('woff2'),
  url('~assets/fonts/BogartTrial-Medium.woff') format('woff'),
  url('~assets/fonts/BogartTrial-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
