// colors
$white: #ffffff;
$black: #000000;
$main-color: #EB683E;
$text: #15030F;
$yellow: #FFF6C6;

$base-font: Roca, serif;
$cormorant: 'Cormorant', serif;
$montserrat: Montserrat, serif;
$bogart: Bogart Trial, serif;