// colors
$white: #ffffff;
$black: #000000;
$main-color: #002A50;
$text: #002A50;
$yellow: #FEA800;

$base-font: Roca, serif;
$cormorant: 'Cormorant', serif;
$montserrat: Montserrat, serif;
$bogart: Bogart Trial, serif;
$inter: Inter, serif;